<h1>About</h1>
<p>
	<%= link_to "Blerdology", "http://blerdology.co" %> is a social enterprise designed to support, engage and grow the black STEM community. Read about the founder at <%= link_to "Kat Calvin", "http://katcalvin.com" %> for more info.
</p>
